name: deploy to aks dev-env
on:
  workflow_dispatch:
  push:
    branches:
    - 'develop'

jobs:
  build: 
    uses: ./.github/workflows/CI-java-build-package-maven.yml
    secrets: inherit
  deploy-dev:
    runs-on: ubuntu-latest
    needs: [build]
    environment: dev
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_REPOSITORY_PASSWORD }}
          
          
          


